**About Book Crossing Dataset**<br>

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

**Objective**

This project entails building a Book Recommender System for users based on user-based and item-based collaborative filtering approaches.

#### Execute the below cell to load the datasets

In [185]:
import pandas as pd
import numpy as np

In [186]:
#Loading data
books = pd.read_csv("books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

users = pd.read_csv('users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv('ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/Users/prashantsharma/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Check no.of records and features given in each dataset

In [187]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

(278858, 3)

## Exploring books dataset

In [188]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### Drop last three columns containing image URLs which will not be required for analysis

In [189]:
books= books.drop(['imageUrlS','imageUrlM','imageUrlL'],axis=1)

In [190]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

**yearOfPublication**

### Check unique values of yearOfPublication

In [191]:
books['yearOfPublication'].nunique

<bound method IndexOpsMixin.nunique of 0         2002
1         2001
2         1991
3         1999
4         1999
          ...
271355    1988
271356    1991
271357    2004
271358    1996
271359    2000
Name: yearOfPublication, Length: 271360, dtype: object>

As it can be seen from above that there are some incorrect entries in this field. It looks like Publisher names 'DK Publishing Inc' and 'Gallimard' have been incorrectly loaded as yearOfPublication in dataset due to some errors in csv file.


Also some of the entries are strings and same years have been entered as numbers in some places. We will try to fix these things in the coming questions.

### Check the rows having 'DK Publishing Inc' as yearOfPublication

In [192]:
books.loc[books['yearOfPublication']=='DK Publishing Inc']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [193]:
books.drop(books[books['yearOfPublication']=='DK Publishing Inc'].index, inplace=True)
books.drop(books[books['yearOfPublication']=='Gallimard'].index, inplace=True)

### Change the datatype of yearOfPublication to 'int'

In [194]:
books['yearOfPublication'] = books['yearOfPublication'].astype('int64')

In [195]:
books.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication     int64
publisher            object
dtype: object

### Drop NaNs in `'publisher'` column

In [196]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271357 entries, 0 to 271359
Data columns (total 5 columns):
ISBN                 271357 non-null object
bookTitle            271357 non-null object
bookAuthor           271356 non-null object
yearOfPublication    271357 non-null int64
publisher            271355 non-null object
dtypes: int64(1), object(4)
memory usage: 12.4+ MB

In [197]:
books=books[pd.notnull(books['publisher'])]

In [198]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271355 entries, 0 to 271359
Data columns (total 5 columns):
ISBN                 271355 non-null object
bookTitle            271355 non-null object
bookAuthor           271354 non-null object
yearOfPublication    271355 non-null int64
publisher            271355 non-null object
dtypes: int64(1), object(4)
memory usage: 12.4+ MB

## Exploring Users dataset

In [199]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

### Get all unique values in ascending order for column `Age`

In [200]:
users.dtypes

userID        int64
Location     object
Age         float64
dtype: object

In [201]:
a=users['Age'].unique()
a.sort()
a

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 113., 114., 115., 116., 118., 119., 123., 124., 127.,
       128., 132., 133., 136., 137., 138., 140., 141., 143., 146., 147.,
       148., 151., 152., 156., 157., 159., 162., 168., 172., 175., 183.,
       186., 189., 199., 200., 201., 204., 207., 208., 209., 210., 212.,
       219., 220., 223., 226., 228., 229., 230., 231., 237., 239., 244.,
        nan])

Age column has some invalid entries like nan, 0 and very high values like 100 and above

### Values below 5 and above 90 do not make much sense for our book rating case...hence replace these by NaNs

In [202]:
#users['Age']= users['Age'].astype('int64')
users.loc[users['Age'] <5,'Age'] = np.nan
users.loc[users['Age'] >90,'Age'] = np.nan

In [203]:
a=users['Age'].unique()
a.sort()
a

array([ 5.,  6.,  7.,  8.,  9., 10., 11., 12., 13., 14., 15., 16., 17.,
       18., 19., 20., 21., 22., 23., 24., 25., 26., 27., 28., 29., 30.,
       31., 32., 33., 34., 35., 36., 37., 38., 39., 40., 41., 42., 43.,
       44., 45., 46., 47., 48., 49., 50., 51., 52., 53., 54., 55., 56.,
       57., 58., 59., 60., 61., 62., 63., 64., 65., 66., 67., 68., 69.,
       70., 71., 72., 73., 74., 75., 76., 77., 78., 79., 80., 81., 82.,
       83., 84., 85., 86., 87., 88., 89., 90., nan])

### Replace null values in column `Age` with mean

In [204]:
users.dtypes

userID        int64
Location     object
Age         float64
dtype: object

In [205]:
um=users['Age'].mean()
um

34.72384041634689

In [206]:

users['Age'].fillna((users['Age'].mean()), inplace=True)

In [207]:
print(sorted(users.Age.unique()))

[5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 34.72384041634689, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0]

### Change the datatype of `Age` to `int`

In [208]:
users['Age'] = users['Age'].astype('int64')

In [209]:
print(sorted(users.Age.unique()))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

## Exploring the Ratings Dataset

### check the shape

In [210]:
ratings.shape

(1149780, 3)

In [211]:
n_users = users.shape[0]
n_books = books.shape[0]

In [75]:
ratings.head(5)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [212]:
books.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication     int64
publisher            object
dtype: object

### Ratings dataset should have books only which exist in our books dataset. Drop the remaining rows

In [213]:
ratings['match']=ratings['ISBN'].isin(books['ISBN'])

In [214]:
ratings.dtypes

userID         int64
ISBN          object
bookRating     int64
match           bool
dtype: object

In [215]:
ratings.head

<bound method NDFrame.head of          userID         ISBN  bookRating  match
0        276725   034545104X           0   True
1        276726   0155061224           5   True
2        276727   0446520802           0   True
3        276729   052165615X           3   True
4        276729   0521795028           6   True
...         ...          ...         ...    ...
1149775  276704   1563526298           9   True
1149776  276706   0679447156           0   True
1149777  276709   0515107662          10   True
1149778  276721   0590442449          10   True
1149779  276723  05162443314           8  False

[1149780 rows x 4 columns]>

In [216]:
ratings.shape

(1149780, 4)

In [217]:
ratings= ratings[ratings['match'] == True ]

In [218]:
ratings[ratings.ISBN.isin(books.ISBN.values)]

         userID        ISBN  bookRating  match
0        276725  034545104X           0   True
1        276726  0155061224           5   True
2        276727  0446520802           0   True
3        276729  052165615X           3   True
4        276729  0521795028           6   True
...         ...         ...         ...    ...
1149774  276704  0876044011           0   True
1149775  276704  1563526298           9   True
1149776  276706  0679447156           0   True
1149777  276709  0515107662          10   True
1149778  276721  0590442449          10   True

[1031130 rows x 4 columns]

In [219]:
ratings.shape

(1031130, 4)

### Ratings dataset should have ratings from users which exist in users dataset. Drop the remaining rows

In [220]:
ratings=ratings.drop(['match'],axis=1)

In [221]:
ratings.dtypes

userID         int64
ISBN          object
bookRating     int64
dtype: object

In [222]:
users.dtypes

userID       int64
Location    object
Age          int64
dtype: object

In [223]:
ratings['match']=ratings['userID'].isin(users['userID'])

In [224]:
ratings.head

<bound method NDFrame.head of          userID        ISBN  bookRating  match
0        276725  034545104X           0   True
1        276726  0155061224           5   True
2        276727  0446520802           0   True
3        276729  052165615X           3   True
4        276729  0521795028           6   True
...         ...         ...         ...    ...
1149774  276704  0876044011           0   True
1149775  276704  1563526298           9   True
1149776  276706  0679447156           0   True
1149777  276709  0515107662          10   True
1149778  276721  0590442449          10   True

[1031130 rows x 4 columns]>

In [225]:
ratings= ratings[ratings['match'] == True ]

In [226]:
ratings.drop(['match'],axis=1)

         userID        ISBN  bookRating
0        276725  034545104X           0
1        276726  0155061224           5
2        276727  0446520802           0
3        276729  052165615X           3
4        276729  0521795028           6
...         ...         ...         ...
1149774  276704  0876044011           0
1149775  276704  1563526298           9
1149776  276706  0679447156           0
1149777  276709  0515107662          10
1149778  276721  0590442449          10

[1031130 rows x 3 columns]

In [141]:
ratings.shape

(1031130, 4)

In [158]:
ratings.drop(['match'],axis=1)

         userID        ISBN  bookRating
1        276726  0155061224           5
3        276729  052165615X           3
4        276729  0521795028           6
8        276744  038550120X           7
16       276747  0060517794           9
...         ...         ...         ...
1149771  276704  0743211383           7
1149773  276704  0806917695           5
1149775  276704  1563526298           9
1149777  276709  0515107662          10
1149778  276721  0590442449          10

[383839 rows x 3 columns]

### Consider only ratings from 1-10 and leave 0s in column `bookRating`

In [227]:
print(sorted(ratings.bookRating.unique()))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [228]:
ratings.dtypes

userID         int64
ISBN          object
bookRating     int64
match           bool
dtype: object

In [229]:
ratings=ratings.drop(['match'],axis=1)

In [235]:
print(sorted(ratings.ISBN.unique()))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [234]:
jupyter notebook --NotebookApp.iopub_data_rate_limit=10000000000

SyntaxError: invalid syntax (<ipython-input-234-0950bf7915fd>, line 1)

In [236]:
ratings=ratings[ratings['bookRating'] > 0]

In [237]:
ratings.shape

(383839, 3)

In [238]:
ratings.head()

    userID        ISBN  bookRating
1   276726  0155061224           5
3   276729  052165615X           3
4   276729  0521795028           6
8   276744  038550120X           7
16  276747  0060517794           9

### Find out which rating has been given highest number of times

In [239]:
ratings['bookRating'].mode()

0    8
dtype: int64

### **Collaborative Filtering Based Recommendation Systems**

### For more accurate results only consider users who have rated atleast 100 books

In [173]:
users.dtypes

userID       int64
Location    object
Age          int64
dtype: object

In [259]:
a100 = pd.DataFrame(ratings['userID'].value_counts() > 99)
a = a100[a100['userID'] == True].index
a

Int64Index([ 11676,  98391, 189835, 153662,  23902, 235105,  76499, 171118,
             16795, 248718,
            ...
            117384,  36299, 169682, 211919, 156300,  95010,  33145,  26544,
            208406,  36609],
           dtype='int64', length=449)

In [260]:
ratings = ratings[ratings['userID'].isin(a)]
ratings

         userID        ISBN  bookRating
1456     277427  002542730X          10
1458     277427  003008685X           8
1461     277427  0060006641          10
1465     277427  0060542128           7
1474     277427  0061009059           9
...         ...         ...         ...
1147587  275970  185649814X           7
1147592  275970  1860462588           8
1147599  275970  1886411077           6
1147611  275970  3411086211          10
1147615  275970  9626340762           8

[103269 rows x 3 columns]

In [261]:
ratings.dtypes

userID         int64
ISBN          object
bookRating     int64
dtype: object

In [262]:
ratings.head

<bound method NDFrame.head of          userID        ISBN  bookRating
1456     277427  002542730X          10
1458     277427  003008685X           8
1461     277427  0060006641          10
1465     277427  0060542128           7
1474     277427  0061009059           9
...         ...         ...         ...
1147587  275970  185649814X           7
1147592  275970  1860462588           8
1147599  275970  1886411077           6
1147611  275970  3411086211          10
1147615  275970  9626340762           8

[103269 rows x 3 columns]>

### Generating ratings matrix from explicit ratings

#### Note: since NaNs cannot be handled by training algorithms, replace these by 0, which indicates absence of ratings

In [269]:
ratings=ratings.fillna(0)
books=books.fillna(0)
users=users.fillna(0)

In [271]:
R_df = ratings.pivot(index = 'userID', columns = 'ISBN', values = 'bookRating').fillna(0)
R_df.head()
R_df.shape

(449, 66572)

In [272]:
R_df.head()

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Generate the predicted ratings using SVD with no.of singular values to be 50

In [273]:
from scipy.sparse.linalg import svds

In [274]:
U, sigma, Vt = svds(R_df, k = 50)

In [275]:
sigma

array([147.92121613, 149.3438051 , 150.07400599, 152.20116297,
       152.87416391, 154.61308307, 154.80093432, 155.95760177,
       158.05646578, 159.21079484, 159.81670657, 162.01963916,
       162.77851768, 163.33054635, 166.02489324, 166.8162391 ,
       168.04972004, 170.77485167, 171.01325686, 173.29428498,
       174.57624968, 176.65724713, 178.61913749, 180.29517222,
       182.25079063, 184.10706957, 187.61687534, 189.75276623,
       190.96966388, 195.14643609, 199.83133018, 201.70083339,
       202.18713912, 203.48697581, 207.26449173, 209.92986988,
       213.23598777, 216.88280493, 224.26954726, 231.66186197,
       235.67095629, 249.9581775 , 252.02866425, 261.24756904,
       267.98197504, 281.0120779 , 293.69539562, 379.58327277,
       634.72875357, 680.30978318])

In [276]:
sigma = np.diag(sigma)

In [277]:
sigma

array([[147.92121613,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 149.3438051 ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        , 150.07400599, ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [  0.        ,   0.        ,   0.        , ..., 379.58327277,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
        634.72875357,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        , 680.30978318]])

In [278]:
all_users_predicted_ratings = np.dot(np.dot(U, sigma), Vt)

In [279]:
preds_df = pd.DataFrame(all_users_predicted_ratings, columns = R_df.columns)

In [280]:
preds_df

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
0,0.025341,-0.002146,-1.430820e-03,-0.002146,-0.002146,0.002971,-0.003920,0.007035,0.007035,0.012316,...,0.000180,0.000226,0.042081,-0.016804,-0.080028,0.004746,0.028314,0.000120,-0.001693,0.067503
1,-0.010012,-0.003669,-2.446297e-03,-0.003669,-0.003669,0.001075,0.001440,-0.003500,-0.003500,0.001612,...,-0.000363,0.000403,0.008142,0.001104,-0.029224,0.000999,0.002363,-0.000242,0.000029,-0.013059
2,-0.015054,-0.015457,-1.030440e-02,-0.015457,-0.015457,0.007281,-0.014033,0.011941,0.011941,0.011796,...,-0.000455,0.001907,0.047982,0.005737,0.117859,0.006945,0.003119,-0.000304,0.009009,-0.057692
3,-0.021499,0.035602,2.373467e-02,0.035602,0.035602,0.030307,0.024215,-0.001053,-0.001053,0.067579,...,0.002971,0.009912,0.086248,-0.008818,0.016154,0.028848,-0.000125,0.001981,0.031201,-0.046664
4,0.002077,-0.007965,-5.310012e-03,-0.007965,-0.007965,0.002947,0.003057,0.000231,0.000231,0.006080,...,0.002120,0.001597,-0.012181,0.009420,0.673459,0.002591,-0.008229,0.001413,0.004918,0.047773
5,-0.002046,0.018614,1.240949e-02,0.018614,0.018614,0.007966,0.022983,-0.005167,-0.005167,0.018298,...,0.002278,0.003343,0.029729,-0.013429,-0.069757,0.008082,0.003330,0.001519,0.008519,0.072081
6,-0.015920,0.020221,1.348068e-02,0.020221,0.020221,0.014194,0.016776,-0.002339,-0.002339,0.031493,...,0.002596,0.003667,0.030025,0.012455,0.030068,0.013586,0.001308,0.001731,0.014216,-0.004550
7,-0.010875,-0.010051,-6.700652e-03,-0.010051,-0.010051,0.023373,-0.014173,0.017087,0.017087,0.057111,...,0.000141,0.006781,0.121680,-0.000650,-0.319179,0.018844,0.045594,0.000094,0.014902,0.012477
8,0.040930,-0.030352,-2.023461e-02,-0.030352,-0.030352,0.018473,-0.031587,-0.013278,-0.013278,0.037860,...,0.002069,0.005255,0.070450,0.007803,-0.077213,0.014357,0.005920,0.001380,0.016526,-0.027260
9,0.023473,-0.004168,-2.778375e-03,-0.004168,-0.004168,0.054426,-0.015698,-0.011736,-0.011736,0.114924,...,0.006618,0.012665,0.172246,-0.010902,-0.175556,0.049872,0.012847,0.004412,0.051858,-0.023768
10,-0.005284,-0.003388,-2.258616e-03,-0.003388,-0.003388,0.001808,-0.002274,-0.002605,-0.002605,0.005172,...,0.000537,0.000348,0.005292,0.000018,-0.016939,0.002173,0.001779,0.000358,0.001925,-0.008713
11,0.042806,-0.012511,-8.340806e-03,-0.012511,-0.012511,0.046817,-0.022128,-0.021332,-0.021332,0.078194,...,-0.004221,0.005918,0.303487,-0.028825,0.149850,0.035975,0.040975,-0.002814,0.023914,-0.019810
12,-0.015425,-0.006874,-4.582765e-03,-0.006874,-0.006874,0.009067,-0.024665,-0.005957,-0.005957,0.004316,...,-0.001905,-0.000066,0.076718,-0.004849,-0.092058,0.004066,0.006657,-0.001270,0.003635,-0.043519
13,0.002309,0.003484,2.322532e-03,0.003484,0.003484,0.016482,0.001383,0.008327,0.008327,0.033957,...,0.001432,0.004073,0.055908,-0.000318,0.124501,0.015519,0.001619,0.000955,0.015125,0.046647
14,-0.018593,-0.000161,-1.070719e-04,-0.000161,-0.000161,0.008111,-0.000218,0.007471,0.007471,0.021616,...,0.003504,0.003661,0.024682,-0.001083,-0.061042,0.007852,0.005629,0.002336,0.007871,0.144291
15,-0.000188,-0.000001,-8.784680e-07,-0.000001,-0.000001,-0.000074,-0.000131,-0.000026,-0.000026,-0.000109,...,-0.000003,-0.000004,-0.000571,0.007924,-0.000636,-0.000072,-0.000070,-0.000002,-0.000025,-0.000420
16,0.021990,-0.022691,-1.512750e-02,-0.022691,-0.022691,0.011670,-0.024146,-0.002076,-0.002076,0.029348,...,0.000086,0.003560,0.048525,-0.015097,-0.066343,0.016404,0.007345,0.000057,0.011958,-0.010866
17,0.000303,-0.000009,-5.779314e-06,-0.000009,-0.000009,0.003823,-0.001239,0.000113,0.000113,-0.003210,...,0.002605,0.004250,-0.002538,9.994975,-0.012470,0.006168,-0.004599,0.001736,0.010495,0.004281
18,0.020472,0.000926,6.175820e-04,0.000926,0.000926,0.002387,0.000374,-0.002736,-0.002736,0.001270,...,-0.001162,0.000440,0.030836,-0.003900,0.212770,0.001447,0.005359,-0.000775,-0.001669,0.076944
19,0.034795,-0.008291,-5.527287e-03,-0.008291,-0.008291,0.008156,-0.002999,0.011413,0.011413,0.020802,...,0.000547,0.002439,0.023815,-0.000177,-0.055640,0.006927,0.002674,0.000365,0.008576,-0.049382
20,-0.006910,-0.001585,-1.056403e-03,-0.001585,-0.001585,0.001674,0.020122,0.010264,0.010264,0.002906,...,-0.000331,0.000378,0.038076,0.002410,-0.015987,0.001743,0.004185,-0.000220,0.000427,-0.002771
21,-0.014089,0.018299,1.219938e-02,0.018299,0.018299,0.002633,0.018995,-0.001823,-0.001823,0.002763,...,0.001071,0.003751,0.040607,-0.001305,0.092786,0.008641,0.009389,0.000714,0.000377,-0.078082
22,-0.025986,0.006893,4.595147e-03,0.006893,0.006893,0.005234,0.020356,-0.021182,-0.021182,-0.010308,...,0.001211,0.006127,0.056706,0.005393,0.080506,0.011105,-0.012564,0.000807,0.000769,-0.077208
23,0.033170,0.005968,3.978462e-03,0.005968,0.005968,0.008306,0.013560,-0.009984,-0.009984,0.017835,...,0.001453,0.001808,0.027059,-0.001112,-0.018525,0.006989,0.003730,0.000969,0.007247,-0.040393
24,-0.018539,-0.009831,-6.554258e-03,-0.009831,-0.009831,0.012553,-0.006269,-0.010220,-0.010220,0.025779,...,0.001517,0.002833,0.049675,0.002833,0.119497,0.012750,0.002606,0.001012,0.011252,-0.023161
25,0.027484,0.001391,9.272165e-04,0.001391,0.001391,0.003668,0.004004,-0.001851,-0.001851,0.012136,...,0.001864,0.001459,0.001860,0.013724,-0.026484,0.004334,0.002020,0.001243,0.004035,0.029125
26,0.013153,0.019955,1.330307e-02,0.019955,0.019955,0.002817,0.021709,-0.004082,-0.004082,0.004414,...,0.000180,0.001764,0.028844,-0.004390,-0.023082,0.005210,0.013806,0.000120,0.001774,0.002111
27,0.093028,-0.035252,-2.350117e-02,-0.035252,-0.035252,0.020823,0.091772,-0.010874,-0.010874,0.057814,...,0.007080,0.012270,0.110241,-0.034227,-0.135952,0.025122,-0.013901,0.004720,0.035949,0.092406
28,0.016865,0.001295,8.636081e-04,0.001295,0.001295,0.023142,0.098495,-0.003312,-0.003312,0.082806,...,0.006323,-0.010635,-0.161954,-0.007290,-0.105061,-0.019859,-0.031888,0.004216,-0.009349,0.033447
29,0.037046,-0.004039,-2.692913e-03,-0.004039,-0.004039,0.001343,-0.003041,-0.001699,-0.001699,0.002390,...,0.000172,0.001379,-0.001728,0.007387,-0.007930,0.001137,0.002330,0.000115,0.000950,0.022628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,0.013294,-0.003049,-2.032732e-03,-0.003049,-0.003049,0.014845,0.007952,-0.006781,-0.006781,0.032985,...,0.002867,0.004824,0.068829,0.005941,-0.012319,0.014990,0.004524,0.001911,0.014120,-0.009470
420,-0.024249,0.000178,1.187523e-04,0.000178,0.000178,-0.011802,-0.038603,-0.006204,-0.006204,-0.024847,...,-0.003631,-0.010199,-0.072533,0.003381,0.014438,-0.011548,-0.007839,-0.002420,0.011470,-0.037132
421,0.022085,-0.008126,-5.417162e-03,-0.008126,-0.008126,0.002550,0.004916,-0.000928,-0.000928,0.008144,...,0.001640,0.001965,0.011100,0.003866,-0.037563,0.002883,0.002321,0.001094,0.002919,0.024681
422,-0.000075,0.000885,5.899158e-04,0.000885,0.000885,0.001980,-0.009282,-0.002404,-0.002404,-0.004632,...,-0.000386,0.000851,0.022219,0.017277,-0.078108,0.003086,0.003009,-0.000258,0.003031,-0.036655
423,-0.028939,-0.001967,-1.311575e-03,-0.001967,-0.001967,0.025184,0.045022,0.028470,0.028470,-0.003457,...,-0.003018,0.003560,0.410562,-0.004801,-0.074618,0.016540,0.010581,-0.002012,0.009104,-0.058207
424,-0.005339,0.001953,1.302109e-03,0.001953,0.001953,0.000871,0.004642,0.001860,0.001860,0.004210,...,0.000371,0.000588,0.001809,0.009471,-0.008351,0.001049,0.001240,0.000248,0.001153,-0.010871
425,-0.023438,-0.013937,-9.291012e-03,-0.013937,-0.013937,0.020549,0.004501,0.002042,0.002042,0.035457,...,0.000923,0.006018,0.114764,-0.011654,0.296411,0.019287,0.004302,0.000615,0.022232,-0.101078
426,0.004881,0.033311,2.220729e-02,0.033311,0.033311,0.010030,0.026815,-0.002883,-0.002883,0.020725,...,0.005155,0.007301,0.011215,0.011764,-0.060451,0.013181,-0.000783,0.003437,0.019721,0.092897
427,-0.004095,-0.015783,-1.052181e-02,-0.015783,-0.015783,0.010167,0.001837,0.007856,0.007856,0.023425,...,0.000306,0.002522,0.027082,0.027371,0.211808,0.009459,-0.001551,0.000204,0.008404,-0.034662
428,-0.004114,0.004492,2.994612e-03,0.004492,0.004492,0.000107,0.007921,-0.001180,-0.001180,-0.002403,...,-0.000497,0.000302,0.002368,0.011561,0.066832,0.001293,-0.003729,-0.000332,0.001869,-0.015959
429,0.087700,-0.004218,-2.811844e-03,-0.004218,-0.004218,0.005028,0.005051,0.005227,0.005227,0.011888,...,0.000755,0.002131,0.029771,0.004236,-0.015950,0.005280,0.005927,0.000503,0.004711,0.031353
430,-0.018942,0.000377,2.516149e-04,0.000377,0.000377,0.006665,-0.001596,0.011613,0.011613,0.015270,...,-0.001106,0.001056,0.042233,0.002610,-0.017290,0.006098,0.013319,-0.000737,0.004431,-0.011908
431,-0.018028,-0.010705,-7.136760e-03,-0.010705,-0.010705,0.020859,-0.028139,-0.009990,-0.009990,0.029419,...,-0.002039,0.000675,0.144862,0.004303,0.073201,0.016091,0.015885,-0.001360,0.014920,-0.072823
432,0.023460,-0.015269,-1.017963e-02,-0.015269,-0.015269,0.001697,0.010803,0.003614,0.003614,0.005274,...,0.000956,0.002378,0.030777,0.010524,-0.041583,0.004566,0.009872,0.000637,0.000370,0.055420
433,-0.003320,-0.014015,-9.343269e-03,-0.014015,-0.014015,0.009703,-0.026997,-0.009375,-0.009375,0.016141,...,-0.002618,-0.003048,0.039421,0.005625,-0.122771,0.007347,0.024123,-0.001745,0.003088,-0.008681
434,-0.014665,-0.005670,-3.780235e-03,-0.005670,-0.005670,0.010396,-0.002267,0.000710,0.000710,0.021499,...,-0.000049,0.001795,0.040013,0.027996,0.056921,0.009665,0.004803,-0.000033,0.009102,-0.048692
435,0.004222,0.043186,2.879091e-02,0.043186,0.043186,0.006178,0.048544,0.005531,0.005531,0.016124,...,0.001157,0.002592,0.033964,-0.002984,-0.027766,0.007124,0.006349,0.000772,0.005309,0.002811
436,0.010294,-0.004367,-2.911182e-03,-0.004367,-0.004367,0.016914,-0.013996,0.005352,0.005352,0.033665,...,0.003369,0.002336,0.024757,0.018975,0.016864,0.014594,0.005901,0.002246,0.010803,-0.054906
437,-0.000455,-0.007946,-5.297431e-03,-0.007946,-0.007946,0.000162,0.032264,0.018156,0.018156,0.003199,...,0.002453,0.001784,0.035162,-0.022398,0.180701,0.000506,0.002644,0.001635,-0.002284,-0.048111
438,0.022390,0.007448,4.965636e-03,0.007448,0.007448,0.004841,0.014274,-0.001370,-0.001370,0.011960,...,-0.000035,0.000960,0.021946,0.019887,0.040873,0.004664,0.004952,-0.000024,0.002700,0.004585
439,-0.013891,-0.008549,-5.699054e-03,-0.008549,-0.008549,0.006254,-0.014032,-0.004751,-0.004751,0.015693,...,-0.000017,0.000782,0.034847,-0.002897,-0.075887,0.006463,0.012457,-0.000011,0.001502,0.068761
440,-0.042651,-0.007464,-4.975924e-03,-0.007464,-0.007464,0.040642,0.000613,0.012554,0.012554,0.094619,...,0.004157,0.016498,0.132277,-0.016607,-0.157312,0.044825,0.005433,0.002772,0.047248,0.042800
441,-0.026051,-0.030714,-2.047582e-02,-0.030714,-0.030714,0.023063,-0.025228,0.035224,0.035224,0.041394,...,0.002976,0.004403,0.072124,0.005870,0.039099,0.021811,0.010047,0.001984,0.016899,-0.011375
442,0.012979,0.069724,4.648285e-02,0.069724,0.069724,0.009807,0.067403,0.008856,0.008856,0.026001,...,0.002493,0.002505,0.054989,-0.000041,0.012823,0.015039,0.018400,0.001662,0.005873,0.140539
443,-0.000171,-0.002851,-1.900761e-03,-0.002851,-0.002851,-0.000736,-0.005841,-0.003616,-0.003616,0.000084,...,-0.000134,-0.000001,-0.071548,0.011946,0.219744,0.000189,-0.007808,-0.000090,0.000095,-0.013892
444,-0.013295,-0.002811,-1.873987e-03,-0.002811,-0.002811,-0.023810,0.250610,0.005716,0.005716,-0.028896,...,0.001848,-0.007856,0.062856,-0.001133,0.128216,-0.020683,0.007356,0.001232,-0.024207,0.100999
445,0.017231,0.020953,1.396854e-02,0.020953,0.020953,0.016303,0.045661,0.017187,0.017187,0.009598,...,-0.002726,0.002173,0.238855,-0.003137,0.058286,0.014197,0.010563,-0.001817,0.008224,-0.071487
446,0.003814,-0.011141,-7.427188e-03,-0.011141,-0.011141,0.007776,-0.012431,0.005990,0.005990,0.022312,...,0.002610,0.003690,0.015291,0.021539,-0.051916,0.008105,0.005769,0.001740,0.008526,0.126062
447,0.078020,-0.024439,-1.629238e-02,-0.024439,-0.024439,0.011760,-0.018174,-0.005821,-0.005821,0.027239,...,0.000453,0.003468,0.060661,0.010400,-0.074412,0.012083,0.008547,0.000302,0.010178,0.035976
448,0.008056,0.011625,7.749830e-03,0.011625,0.011625,-0.000409,0.011970,0.011165,0.011165,-0.000434,...,0.000129,-0.000184,-0.002543,0.002639,-0.003843,0.000601,0.001378,0.000086,-0.000324,0.007476

### Take a particular user_id

### Lets find the recommendations for user with id `2110`

#### Note: Execute the below cells to get the variables loaded

In [284]:
userID = 2110

In [285]:
user_id = 2 #2nd row in ratings matrix and predicted matrix

### Get the predicted ratings for userID `2110` and sort them in descending order

In [282]:
def recommend_books(predictions_df, userID,userId, books_df, original_ratings_df, num_recommendations = False):
    user_row_number = userID   #UserID starts at zero not 1
    sorted_user_predictions = predictions_df.loc[user_row_number].sort_values(ascending = False)
    
    user_data = original_ratings_df[original_ratings_df.userID == (userId)]
    user_full = (user_data.merge(books, how = 'left', left_on = 'ISBN', right_on = 'ISBN').
                sort_values(['bookRating'], ascending = False)
                )
    print('User {0} has already rated {1} books.'.format(userID, user_full.dropna().shape[0]))
    print('Recommending the highest {0} predicted ratings books not already read.'.format(num_recommendations))
    
    recommendations = (books_df[~books_df['ISBN'].isin(user_full['ISBN'])].
                      merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
                           left_on = 'ISBN',
                           right_on = 'ISBN').
                      rename(columns = {user_row_number: 'Predictions'}).
                      sort_values('Predictions', ascending = False).
                      iloc[:num_recommendations, :-1])
    return user_full, recommendations, sorted_user_predictions, user_data, user_full
#R_df = rating.pivot(index = 'userID', columns = 'ISBN', values = 'bookRating').fillna(0)

In [287]:
already_rated, predictions, sorted_user_predictions, user_data, user_full = recommend_books(preds_df,user_id,userID,books, ratings, 10)

User 2 has already rated 103 books.
Recommending the highest 10 predicted ratings books not already read.

In [290]:
predictions

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
407,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown"
2116,0345350499,The Mists of Avalon,MARION ZIMMER BRADLEY,1987,Del Rey
2438,0440214041,The Pelican Brief,John Grisham,1993,Dell
455,044021145X,The Firm,John Grisham,1992,Bantam Dell Publishing Group
521,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA
20670,0345318862,Golem in the Gears (Xanth Novels (Paperback)),PIERS ANTHONY,1986,Del Rey
4810,0345313151,Bearing an Hourglass (Incarnations of Immortal...,Piers Anthony,1991,Del Rey Books
6320,0380752891,"Man from Mundania (Xanth Trilogy, No 12)",Piers Anthony,1990,Harper Mass Market Paperbacks
44448,051511605X,Undue Influence,Steven Paul Martini,1995,Jove Books
8977,043936213X,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2001,Scholastic

In [294]:
sorted_user_predictions.head

<bound method NDFrame.head of ISBN
0316666343    1.015397
059035342X    0.778665
0345350499    0.697309
0440214041    0.665439
044021145X    0.663549
                ...
0380709562   -0.162346
0553213164   -0.173301
0440219078   -0.174497
0807508527   -0.204146
0743235150   -0.209452
Name: 2, Length: 66572, dtype: float64>

### Create a dataframe with name `user_data` containing userID `2110` explicitly interacted books

In [295]:
user_data_2100 = ratings[ratings['userID'] == 2110]
user_data_2100.head()

       userID        ISBN  bookRating
14448    2110  0060987529           7
14449    2110  0064472779           8
14450    2110  0140022651          10
14452    2110  0142302163           8
14453    2110  0151008116           5

In [296]:
user_data.head()

       userID        ISBN  bookRating
14448    2110  0060987529           7
14449    2110  0064472779           8
14450    2110  0140022651          10
14452    2110  0142302163           8
14453    2110  0151008116           5

In [297]:
user_data.shape

(103, 3)

### Combine the user_data and and corresponding book data(`book_data`) in a single dataframe with name `user_full_info`

In [298]:
user_full_info = user_data_2100.merge(books,how = 'left' , left_on ='ISBN' , right_on = 'ISBN')
user_full_info=user_full_info.drop(columns=['userID','bookRating'],axis=1)

In [300]:
user_full_info.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0060987529,Confessions of an Ugly Stepsister : A Novel,Gregory Maguire,2000,Regan Books
1,0064472779,All-American Girl,Meg Cabot,2003,HarperTrophy
2,0140022651,Journey to the Center of the Earth,Jules Verne,1965,Penguin Books
3,0142302163,The Ghost Sitter,Peni R. Griffin,2002,Puffin Books
4,0151008116,Life of Pi,Yann Martel,2002,Harcourt

In [73]:
user_full_info.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
0,2110,0060987529,7,Confessions of an Ugly Stepsister : A Novel,Gregory Maguire,2000,Regan Books
1,2110,0064472779,8,All-American Girl,Meg Cabot,2003,HarperTrophy
2,2110,0140022651,10,Journey to the Center of the Earth,Jules Verne,1965,Penguin Books
3,2110,0142302163,8,The Ghost Sitter,Peni R. Griffin,2002,Puffin Books
4,2110,0151008116,5,Life of Pi,Yann Martel,2002,Harcourt

### Get top 10 recommendations for above given userID from the books not already rated by that user

In [302]:
sorted_user_predictions1 = preds_df.loc[2].sort_values(ascending = False)

In [301]:
sorted_user_predictions

ISBN
0316666343    1.015397
059035342X    0.778665
0345350499    0.697309
0440214041    0.665439
044021145X    0.663549
                ...
0380709562   -0.162346
0553213164   -0.173301
0440219078   -0.174497
0807508527   -0.204146
0743235150   -0.209452
Name: 2, Length: 66572, dtype: float64